template(name='layout')
  nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        a.navbar-brand(href='/')
          span.glyphicon.glyphicon-ok-sign.text-success
          |make.it
      .navbar-right
        p.navbar-btn
          button.btn.btn-primary(data-toggle="modal" data-target="#myModal") アプリを登録
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Modal title
        .modal-body
          +quickForm buttonClasses="btn btn-primary btn-block" buttonContent="登録" collection="Products" type="insert" id="productEdit"
  .container
    +yield
    
